* {
	font-family: "Helvetica neue", sans-serif;
}
.lot {
	border: 1px solid gray;
	padding: 5px;
	padding-bottom: 60px;
	width: 90%;
	height: 21%;
}
.header {
	font-size: 42px;
}
.desc {
	font-size: 18px;
	font-color: gray;
}
.buy {
	border: 1px solid black;
	padding: 15px 30px;
	margin: 87%;
	text-decoration: none;
	color: black;
}
